<!DOCTYPE html>
<html>
<head>
  <title>Donate PPE</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'frontend', media: 'all' %>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
</head>

<body>
<noscript>You need to enable JavaScript to run this app.</noscript>
<%= javascript_pack_tag 'app' %>
</body>
</html>
